<header>
    <a href="/" id="btn_voltar" >Voltar a página inicial</a>
   <a href="/"> <img src="/imagens/logo.png" title="Voltar para a página inicial"> </a>
    <div class="clear"></div>
</header>
    
        {{#if novaConta}}
        
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Cadastro realizado com sucesso!</h4>
                <p>Parabéns {{novo_cidadao.dataValues.nome}} agora você faz parte da EderOne.</p>
                <p class="mb-0">Siga para a <a href="/">página inicial</a> da rede social e efetue o login.</p>
            </div>
        {{else}}
        {{/if}}
<section>
        <article id="cpCadastro">
        <h1>Formulário de Cadastro - Cidadão em geral</h1><hr>
        {{#each erros_cid}}
                <div class="alert alert-danger">{{texto}}</div>
            {{else}}

            {{/each}}
            <div id="cadastropt1" class="sep_cas">
                <form action="/add_cid" method="POST" name="cad1_cidadao" >
                    <fieldset>
                        <legend id="font_data">Documento pessoal</legend>
                        <select name="tipodoc" id="">
                            <option value="RG">RG</option>
                            <option value="CPF">CPF</option>
                        </select>
                        <input type="text" name="numdoc" placeholder="  número do documento">
                    </fieldset>
                   <fieldset>
                        <legend id="font_data">Grau de escolaridade</legend>
                        <select name="escolaridade" id="">
                            <option value="Fundamental - Incompleto">Fundamental - Incompleto</option>
                            <option value="Fundamental - Completo">Fundamental - Completo</option>
                            <option value="Médio - Incompleto">Médio - Incompleto</option>
                            <option value="Médio - Completo">Médio - Completo</option>
                            <option value="Superior - Incompleto">Superior - Incompleto</option>
                            <option value="Superior - Completo">Superior - Completo</option>
                            <option value="Pós-graduação (Lato senso) - Incompleto">Pós-graduação (Lato senso) - Incompleto</option>
                            <option value="Pós-graduação (Lato senso) - Completo">Pós-graduação (Lato senso) - Completo</option>
                            <option value="Pós-graduação (Stricto sensu, nível mestrado) - Incompleto">Pós-graduação (Stricto sensu, nível mestrado) - Incompleto</option>
                            <option value="Pós-graduação (Stricto sensu, nível mestrado) - Completo">Pós-graduação (Stricto sensu, nível mestrado) - Completo</option>
                            <option value="Pós-graduação (Stricto sensu, nível doutor) - Incompleto">Pós-graduação (Stricto sensu, nível doutor) - Incompleto</option>
                            <option value="Pós-graduação (Stricto sensu, nível doutor) - Completo">Pós-graduação (Stricto sensu, nível doutor) - Completo</option>
                        </select>
                    </fieldset> <br>
                     <legend id="font_data">Tópicos de interesse</legend> <span id="pos_cid_inte"> <input type="text" name="cid_topicos" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$">  </span>
                   
                    <div class="centraliza">
                        <button type="submit" id="btn_cad1">Verificar</button>
                    </div>
                </form>
            </div>
        </article>

        </article>

    </section>