<header class="container-md" class="p-3 mb-2 bg-info text-white">
       <img src="/imagens/logo.png" alt="">
        <div class="login">
            <form action="/autenticacao" name="cpLogin" method="POST">
                <input type="email" name="login" placeholder="E-mail...">
                <input type="password" name="senha" placeholder="Senha...">
                
                <input type="submit" value="Entrar">
            </form>
            <a href="cadastro/"><button class="btn btn-primary">Cadastre-se</button></a>
            
            {{#each erros_login}}
                <div class="alert alert-danger" role="alert">{{texto}}</div>
            {{else}}
            {{/each}}
        </div>
                <div class="clear"></div>
    </header>

    <section id="corpo_inicio">
        <center>
            <h1 class="display-4">Bem-vindo a EderOne</h1>
            <h1 class="display-5">A Rede Social Aberta de Pesquisadores em Ciência de Dados.</h1>
        </center>
        
    </section>