*{
    margin:0;
    padding: 0;
}

header img{
    float:left;
    height: 150px;
    width: 150px;
   
}


header {
    padding: 10px;
    max-width: 1100px;
    margin:0 auto;
    background-color:rgb(176,196,222);
    
}

header .login{
    float:right;
    margin-top: 30px;
    
}

header .login input[type=submit],
.btnCadastre
{
    margin: 5px 2px;
    display:inline;
    border:0;
    border-radius: 4px;
    background-color: royalblue;
    color:white;
    width:90px;
    padding: 5px;
    cursor:pointer;
    
}

header .login input[type=email],
header .login input[type=password]{
    width: 130px;
    padding: 2px;
}


.clear{
    clear:both;
}

body{
    
    margin:0 auto;
    background-color:rgb(220,220,220);
}



section article h1{
    font-family: cursive;
    font-size: 30px;
    padding:5px 10px;
}


/*cadastro geral*/


#camp1,#camp2,#camp3,#camp4,#camp5{
    position: relative;
    left: 25px;
    font-size: 20px;
}
#cpCadastro{
    border:2px solid black;
    width: 1130px;
    position: absolute;
    left:100px;
    height: 670px;
}

#cadastropt1 input[type=email]{
    position: relative;
    bottom: 0px;
    left: 100px;

}

#cadastropt1 input[type=date]{
    position: relative;
    bottom: 0px;
    left: 30px;

}

#cadastropt1 input[type=password]{
    position: relative;
    bottom: 0px;
    left: 152px;

}
#cadastropt1 input[type=text]{
    position: relative;
    bottom: 0px;
    left: 60px;

}
#confi_senha{
    position: relative;
    bottom: 0px;
    left: -92px;
}
#pos_fieldset{
    margin-left: 10px;
}
.rad_tam{
    font-size: 20px;
}
.tam_rad2{
    width: 50px;
    height: 15px;
}
#cadastropt1 button[type=submit]{
    margin: 5px 2px;
    display:inline;
    border:0;
    border-radius: 20px;
    background-color: royalblue;
    color:white;
    width:100px;
    padding: 5px;
    cursor:pointer;
    position: relative;
    
}
#btn_cad1{
    top: 6px;
}

#cadastropt1 button[type=submit]:hover{
    
    background-color: blue;
    color:white;
   
}












