*{
    margin:0;
    padding: 0;
}


header {
    background-color:rgb(168, 218, 220);
    padding-bottom: 0px;
    border-radius: 10px;
}

header img{
    float:left;
    height: 200px;
    width: 200px;
   
}


header .login{
    float:right;
    margin-top: 40px;
    
}



header .login input[type=email],
header .login input[type=password]{
    width: 130px;
    padding: 2px;
}


.clear{
    clear:both;
}

body{
    
    margin:0 auto;
    background-color:rgb(241, 250, 238);
}



section article h1{
    font-family: cursive;
    font-size: 30px;
    padding:5px 10px;
}


/*cadastro geral*/
#cp_ca1{
    margin: auto;
    margin-bottom: 30px;
  
}


#cp_ca1 h1{
    text-align: center;
}

#btn_voltar{
    border-radius: 20px;
    background-color: royalblue;
    color:white;
    
    padding: 5px;
    cursor:pointer;
    float: right;
}
#pos_btnvoltar{
    position: relative;
    top:90px;
}

#cadastropt1 input[type=text],
#cadastropt1 input[type=date],
#cadastropt1 input[type=email],
#cadastropt1 input[type=password]
{
    width: 300px;
    border:1px solid gray;
    margin-bottom: 10px;
    

    
}



#nav_topo{
    padding:5px;
    
}

#nav_topo a{
    float: right;
    margin-top: 0px;
    margin-right: 5px;
    position: relative;
}

#busca_membro{
    width: 400px;
    margin:0 auto;
    margin-top: 14px;
}




#camp1,#camp2,#camp3,#camp4,#camp5{
    position: relative;
    left: 25px;
    font-size: 20px;
}
#cpCadastro{
    border:2px solid black;
    width:800px;
    margin: 0 auto;
    margin-top:30px ;
    
}

#cpCadastro h1{
    text-align: center;
}

#cadastropt1 input[type=email]{
    position: relative;
    bottom: 0px;
    left: 150px;

}

#cadastropt1 input[type=date]{
    position: relative;
    bottom: 0px;
    left: 30px;

}

#cadastropt1 input[type=password]{
    position: relative;
    bottom: 0px;
    left: 152px;

}
#cadastropt1 input[type=text]{
    position: relative;
    bottom: 0px;
    left: 60px;

}
#confi_senha{
    position: relative;
    bottom: 0px;
    left: -92px;
}
#pos_fieldset{
    margin-left: 10px;
}
.rad_tam{
    font-size: 20px;
}
.tam_rad2{
    width: 50px;
    height: 15px;
}
#cadastropt1 button[type=submit]{
    border:0;
    border-radius: 20px;
    background-color: royalblue;
    color:white;
    width:100px;
    padding: 8px;
    cursor:pointer;
    position: relative;
    margin: 10px;
    
}

#cadastropt1 button[type=submit]:hover{
    
    background-color: blue;
    color:white;
   
}

.centraliza{
    text-align: center;
}

/* cadastro cid */
.sep_cas{
    margin-left: 20px;
}
#btn_cid{
    position: relative;
    left: -550px;
    top:40px;
}
#pos_cid_inte{
    position: relative;
    top:10px;
    right: 60px;
}

/* cadastro pes*/
#font_data{
    font-size: 20px;
}
#pos_date{
    position: relative;
    top:8px;
    left:-30px;
}
#pos_cidade{
    position: relative;
    left: 180px;
    bottom: 25px;

}
#pos_ins{
    position: relative;
    
}
#pos_cur{
    position: relative;
    left:170px;
    bottom:20px;
}
#pos_int{
    position: relative;
    left: 170px;
    bottom:25px;
}



/* Inicio */
.login{
    text-align: center;
}
.login input{
    margin-bottom: 10px;
}
#botoesInicio{
    margin-right: 40px;
    display: inline;
    
}

#botoesInicio button{
    margin-right: 25px;
}

.tam_campo{
    position: relative;
    right: 50px;
}

#corpo_inicio{
    text-align: center;
    
}

#erro_login{
    width:400px;
    float:right;
    margin-right: 60px;
}
#texto_boasvindas{
    margin-top: 30px;
}

#carrousel{
    width: 1050px;
    height: 100px;
    border: solid rgb(69, 123, 157) 1px;
    box-shadow: 1px 4px 5px blue;
    margin:auto;
    
}


/* Pagina inicial */

#topo_paginaPrincipal{
    height: 80px;
}

#btn_sair{
	margin: 5px 2px;
    display:inline;
    border:0;
    border-radius: 20px;
    background-color: royalblue;
    color:white;
    width:50px;
    padding: 5px;
    text-align: center;
    cursor:pointer;

    top:4px;
    
}

.btn_altdados{
	margin: 5px 2px;
    display:inline;
    border:0;
    border-radius: 20px;
    background-color: royalblue;
    color:white;
    width:200px;
    padding: 5px;
    text-align: center;
    cursor:pointer;

    top:4px;

}


#section_ini{
    position: absolute;
    top:94px;
    margin-left: 320px;
    width: 60%;
    border: rgb(241, 250, 238) 2px solid;
    padding-top: 10px;
    
}

#section_ini h1{
    margin-left: 25px;
    margin-top: 20px;
    color: rgb(29, 53, 87);
    font-size: 25px;
    text-decoration: dotted;
    text-shadow: 1px 1px 0px black;
}




#iside1_pagini{
    border: 3px double gray;
    border-radius: 10px;
	width: 300px;
    height: 800px;
    box-shadow: 2px 1px 5px blue;
    margin-top: 20px;
	margin-left: 0px;
    background-color:rgb(168, 218, 220) ;
    padding: 5px 10px;
    top:94px;
}

#iside1_pagini h2{
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#iside1_pagini p{
    font-size: 15px;
}

#iside1_pagini #foto{
	width: 100px;
	height: 100px;
	margin-top: 3px;
    background-color: gray;
    text-align: center;
    position: relative;
    left: 90px;
}


#iside2_pagini{
    top:114px;
    padding: 5px;
    width: 15%;
	position: absolute;
	right: 0px;
	text-align: center;
    background-color:rgb(241, 250, 238);
    box-shadow:1px 1px 5px rgb(230, 57, 70);

}

#seguidores{
	font-size: 20px;
	font-weight:bold;
}

#quadro_postagens{
    background-color:rgb(230,230,250);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 5px 2px 5px;
    width: 700px;
    
}

#quadro_postagens p{
    margin: 10px;
    text-align: center;
}

#quadro_postagens small{
    font-style: italic;
    float: right;
}

#drop_postagem{
    float:right;
}

#iside2_pagini ul li{
	list-style-type:none;
    font-size: 13px;
}

#iside2_pagini ul li a{
	padding: 7px 15px;
    font-size: 13px;
}
/* pagina inicial mas dropdown*/


  
  
.dropdown{
    margin-top: 10px;
    float: right;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
  }
  
  .dropbtn {
    background-color: royalblue;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: solid 1px royalblue;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
  }

  .dropdown-content a {
    color: black;
    padding: 10px 5px;
    text-decoration: none;
    position: absolute;
    display: block;
    
  }
  
  
  .dropdown-content a:hover {
      background-color: #f1f1f1
    }
  
 
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
 

/* pagina visita*/
#iside1_pagini1{
	border: 1px solid #ecdff4;
	width: 300px;
	height: 800px;
    position: absolute;
    margin-top: 20px;
	margin-left: 0px;
    background-color:#ecdff4 ;
    padding: 5px 10px;
    top:56px;
}

#iside1_pagini1 h2{
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#iside1_pagini1 p{
    font-size: 15px;
}

#iside1_pagini1 #foto{
	width: 100px;
	height: 100px;
	margin-top: 3px;
    background-color: gray;
    text-align: center;
    position: relative;
    left: 90px;
}

#iside2_pagini1{
    top:76px;
	padding: 14px;
	position: absolute;
	right: 0px;
	text-align: center;
    background-color:#ecdff4;

}
#iside2_pagini1 ul li{
	list-style-type:none;
    font-size: 13px;
}

#iside2_pagini1 ul li a{
	padding: 7px 15px;
    font-size: 13px;
}

/* Atualizar dados cid */

#formulario_postar{
    width:90%;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color:rgb(230,230,250);
    padding: 5px 10px;
    border-radius: 10px;
    border:solid 2px rgb(176,196,222);
    box-shadow: 1px 2px 4px  rgb(176,196,222);
}

#formulario_postar button{
    margin-bottom: 3px;
  
}

#formulario_postar input{
    display: block;
}

#font1{
	font-size: 13px;
	position: relative;
	left: 35px;
}

#mov1{
	position: relative;
	left:3px;
}
#mov2{
	position: relative;
	right:20px;
}
#mov3{
	position: relative;
	right:560px;
	top:140px;
}
#btn_voltarpag{
	margin: 5px 2px;
    display:inline;
    border:0;
    border-radius: 20px;
    background-color: royalblue;
    color:white;
    width:150px;
    padding: 5px;
    text-align: center;
    cursor:pointer;
    position: absolute;
    top:630px;
    left: 210px;
    font-size: 12px;
    z-index: 1;
}

/* Atualizar dados pes */

#mov4{
	position: relative;
	left:-27px;
	top:10px;
}
#mov5{
	position: relative;
	left:103px;	
}
#mov6{
	position: relative;
	right:44px;
}
#mov7{
	position: relative;
	right:19px;
}
#btn_voltarpag2{
	margin: 5px 2px;
    display:inline;
    border:0;
    border-radius: 20px;
    background-color: royalblue;
    color:white;
    width:150px;
    padding: 5px;
    text-align: center;
    cursor:pointer;
    position: absolute;
    font-size: 12px;
    
}

/* pagina de visita */
.dropbtnpg {
    background-color: royalblue;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: solid 1px royalblue;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    left:631px;
    top:0px;
    
  }
  
  
.dropdownpg {
    position: relative;
    display: inline-block;
    
  }
  

.dropdown-contentpg {
    display: none;
    position: absolute;
    left:630px;
    top:40px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
  }
  
 
.dropdown-contentpg a {
    color: black;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
    
  }
  
  
.dropdown-contentpg a:hover {background-color: #f1f1f1}
  
 
.dropdownpg:hover .dropdown-contentpg {
    display: block;
  }
  
  
.dropdownpg:hover .dropbtnpg {
    background-color: blue;
}
